<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/render.ui.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">

</head>
<body>
<div id="layout"></div>
<script src="/librarys/require/require.config.js"></script>
<script src="/librarys/require/require.js" data-main="main"></script>
</body>
</html>